<div class="row footer__info">
    <div class="col col-9 footer__content">
        <p>ABOUT</p>
        <p>Công ty Cổ Phần bán hàng rong BLACKPINK Một Thành Viên</p>
    </div>
</div>

<div class="row footer__bottom">
    <div class="col col-3 footer__bottom-content">
        <img src="./Blackpink_logo.png" alt="logo" class="footer__logo">
        <p>Công ty Cổ Phần bán hàng rong BLACKPINK Một Thành Viên</p>
    </div>

    <div class="col col-3 footer__bottom-info">
        <p class="footer__copyright">Powered By HPT Blackpink &#169; 2021</p>
        <ul class="footer__socials">
            <li class="footer__socials-item"><i class="fab fa-facebook-f"></i></li>
            <li class="footer__socials-item"><i class="fab fa-pinterest"></i></li>
            <li class="footer__socials-item"><i class="fab fa-instagram"></i></li>
            <li class="footer__socials-item"><i class="fab fa-github"></i></li>
            <li class="footer__socials-item"><i class="fab fa-twitter"></i></li>
            <li class="footer__socials-item"><i class="fab fa-linkedin-in"></i></li>
            <li class="footer__socials-item"><i class="fab fa-google-plus-g"></i></li>
        </ul>

        <ul class="footer__pay">
            <li class="footer__paypal">
                <img src="./pay/paypal.jpg" alt="">
            </li>
            <li class="footer__visa">
                <img src="./pay/visa.jpg" alt="">
            </li>
            <li class="footer__mastercard">
                <img src="./pay/mastercard.jpg" alt="">
            </li>
            <li class="footer__amex">
                <img src="./pay/amex.jpg" alt="">
            </li>
            <li class="footer__decovery">
                <img src="./pay/descover.png" alt="">
            </li>
        </ul>
    </div>
</div>
