<nav class="header__navbar">

    <div class="navbar__left ">
        <div class="navbar__logo">
            <a href="/" class="navbar__logo-link">
                <img src="Blackpink_logo.png" alt="logo" class="navbar__img">
            </a>
        </div>
        <ul class="navbar__left-list ">
            <li class="navbar__left-item">BLOG
            </li>
            <li class="navbar__left-item">DANH MỤC
                <i class="fas fa-angle-down"></i>
            </li>
            <li class="navbar__left-item">BẢO HÀNH
            </li>
            <li class="navbar__left-item">BẢNG GIÁ</li>
            <li class="navbar__left-item">LIÊN HỆ</li>
        </ul>
    </div>

    <div class="navbar__right ">
        <ul class="navbar__right-list">
            <li class="navbar__search-input">
                <input type="text" name="searchNav" value="Search" id="searchNav">
            </li>

            <li class="navbar__search-icon">
                <button class="navbar__search-btn">
                    <i class="fas fa-search"></i>
                </button>
                
            </li>
            <li class="navbar__cart">
                <a href="" class="navbar__link-cart">
                    <i class="fas fa-shopping-cart"></i>
                    <span id="cartQty" class="navbar__cart-notice">0</span>
                </a>                        
            </li>
            
        </ul>
    </div>

    <div class="navbar__mobile hide-on-pc">
        <div class="navbar__logo">
            <a href="/" class="navbar__logo-link">
                <img src="Blackpink_logo.png" alt="logo" class="navbar__img">
            </a>
        </div>

        <div class="navbar__hamburger">
            <ul class="navbar__right-list">
                <li class="navbar__search">
                    <i class="fas fa-search"></i>
                </li>
                <li class="navbar__bars">
                    <i class="fas fa-bars"></i>
                </li>
                
            </ul>
        </div>
    </div>

</nav>
