/* pc */
@media (min-width:1023px) {
    
    .hide-on-pc{
        display: none;
    }
    
}
/* Mobile & Tablet */

@media (max-width:1440px) {
    
    .hide-on-mobile-table{
        display: none;
    }
    nav {
        margin: auto 30px;
    }

    .navbar__mobile {
        display: flex;
    }

    .navbar__img {
        height: 40px;
        width: 180px;
    }

    .navbar__hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar__right-list {
        display: flex;
        list-style-type: none;
        color: #fff;
        position: absolute;
        right: 25px;
    }

    .navbar__right-list > li > i {
        padding: 10px;
    }
    
    .navbar__right-list > li:hover {
        cursor: pointer;
    }

    .banner__content {
        width: 70%;
        align-self: flex-end;
    }

    .banner__title > h1 {
        font-size: 36px;
    }

    .banner__description > p {
        font-size: 17px;
    }

    .btn-custom {
        margin-bottom: 20px;
    }

    #main {
        flex-direction: column-reverse;
    }

    .main__left {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    
    .main__box-content {
        width: 435px;
        margin: 5px 0 20px 10px;
    }
    

    .main__content {
        width: 98%;
        margin-bottom: 0;
    }

    .main__title > p {
        font-size: 15px;
    }

    .main__text > p {
        font-size: 28px;
    }

    .main__description > p {
        width: 100%;
    }

    .footer__socials-item {
        padding: 7px;
    }
}

/* Tablet */

@media (min-width:740px) and (max-width:1023px) {
    .hide-on-table{
        display: none;
    }

    .banner__content {
        width: 83%;
    }

    .main__description > p {
        width: 95%;
    }


    .main__box-content {
        width: 306px;
    }

    .footer__left {
        margin-left: 10px;
    }
    
    .footer__right {
        margin-right: 30px;
    }

}
/*  small tablet */
@media (max-width: 739px) {
    .hide-on-sm-tablet{
        display: none;
    }

    #banner {
        background: linear-gradient(0deg, rgba(23, 16, 16, 0.6), rgba(23, 16, 16, 0.6)), url("banner.jpg");
    }


    .banner__content {
        width: 100%;
    }

    .btn {
        min-width: 180px;
    }

    .main__content {
        max-width: 700px;
    }

    .main__left {
        padding: 10px;
    }

    .main__box-content {
        width: 230px;
    }

    .main__description > p {
        width: 96%;
    }

    .footer__left {
        margin-left: 10px;
    }

    .footer__right {
        margin-right: 0;
    }

    .footer__copyright > p {
        font-size: 10px;
    }
  

}
/* Mobile */

@media (max-width: 581px) {
    .hide-on-mobile{
        display: none;
    }
    
    .banner__content {
        margin-right: 0;
    }

    #main {
        height: 1250px;
    }
    .banner__description > p {
        font-size: 14px;
    }

    .main__description > p {
        width: 90%;
    }

    .main__box-content {
        width: 300px;
    }

    .btn {
        min-width: 250px;
    }

    #footer {
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .footer__right > span {
        margin-bottom: 20px;
    }

}