:root {
    --primary-color: rgb(114, 190, 235);
    --white-color: #fff;
    --text-color : rgb(133, 128, 128);
    --black-color: #000;
    --text-input: rgb(179, 177, 177);
    --background-color: rgb(236, 236, 236);
    /* --border-color: rgb(236, 236, 236); */
    /* --blue-color: rgb(112, 175, 218); */
}

* {
    margin: 0;
    box-sizing: border-box;
}


html, body {

    font-family: sans-serif;
}

#header {
    width: 100%;
    height: 90px;
    background: var(--white-color);
    position: sticky;
    z-index: 999;
    top: 0;
    /* border: 1px solid var(black-color); */
}

.header__navbar {
    width: auto;
    display: flex;
    height: 90px;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-around;
    margin: auto 128px;
    padding: 0 !important;
}

.header__navbar> div > ul {
    margin: 0;
    list-style-type: none;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--text-color);
}

.header__navbar> div > ul >li:hover {
    cursor: pointer;
}

.navbar__left {
    display: flex;
}

.navbar__logo {
    display: flex;
    width: 200px;
    align-items: center;
}

.navbar__left-item {
    padding: 16px;
    font-size: 15px;
}


.navbar__right {
    display: flex;
}

.navbar__right > ul > li {
    padding: 2px;
    display: flex;
}


.navbar__img {
    background-color: var(--white-color);
    width: 200px;
}
#searchNav {
    max-width: 100px;
    height: 30px;
    background-color: var(--background-color);
    color: var(--text-input);
    border: none;
    outline: none;
    text-align: center;
}
.navbar__search-btn {
    background-color: var(--background-color);
    color: var(--text-input);
    border: none;
    line-height: 30px;
    height: 30px;
    width: 40px;
    outline: none;
    border-radius: 2px;
    margin-right: 3px;
    text-align: center;
}

.navbar__search-icon::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: var(--text-input);
    right: 285px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar__link-cart {
    margin: 24px;
    color: var(--text-color);
}

.navbar__cart-notice {
    position: absolute;
    padding: 0px 3px;
    font-size: 0.8rem;
    line-height: 0.9rem;
    margin-left: 2px;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    color: var(--white-color);
    background-color: var(--primary-color);
}


.fa-angle-down {
    transform: translateY(2px);
    padding-left: 4px;
    font-weight: 100;
    font-size: 14px;
}

.home__content {
    background-color: var(--background-color);

}

.home__slide {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.carousel {
    margin: 30px 180px 15px;
}

.carousel-inner img {
    margin-top: 30px;
    width: 100%;
    height: 500px;
}

.home__products {    
    margin: 15px 113px 15px 140px !important;
}

.category{
    border-radius: 2px;
    background-color: var(--white-color);
    margin-left: 20px;
}
.category > div:first-child {
    padding: 50px 0 0;
}

.categories {
    margin-bottom: 24px;
}

.category__heading{
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 0 40px;
    margin-top: 0;
    margin-bottom: 20px;
}


.category-list{
    padding:0 0 8px 0;
    list-style: none;
    
}
.category-item{
    position: relative;
}

.category-item:first-child::before{
    display: none;
}



.category-item--active .category-item__link{
    color: var(--primary-color);
}

.category-item__link{
    position: relative;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    font-size: 1rem;
    padding: 4px 24px 4px 56px ;
    transition: right linear 0.1s;
}

.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
    text-decoration: none;
}

.products {
    display:flex;
    /* justify-content: space-between; */
}

.product__content {
    background-color: var(--white-color);
    width: 300px;
    margin: 0 0px 30px 63px;
}

.product__content-item {
    text-decoration: none;
    position: relative;
}

.product__item-sale {
    display:flex
}

.product__item-hot{
    position: absolute;
    left: 22px;
    top: 25px;
    width: 40px;
    height: 25px;
    text-align: center;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-top-right-radius: 2px;
    font-size: 13px;
    
}

.product__item-saleoff{
    position: absolute;
    left: 22px;
    top: 25px;
    width: 40px;
    height: 25px;
    text-align: center;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-top-right-radius: 2px;
    font-size: 13px;
}

.product__item-hidden {
    position: absolute;
    top: 90px;
    left: 80px;
    /* display: none; */
}

.product__item-hidden button{
    border: none;
    width: 38px;
    height: 38px;
    padding: 4px;
    background-color: rgb(228, 228, 228);
}


.product__img > img {
    text-align: center;
    width: 100%;
    height: 180px;
}
.product__description {
    padding: 8px 16px;
    line-height: 36px;
    text-align: center;
}
.product__link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}

.product__link:hover {
    cursor: pointer;
    color: var(--primary-color);
    text-decoration: none;
}

.product__old-price {
    color: rgb(224, 224, 224);
    text-decoration: line-through;
    font-size: 14px;
}
.product__current-price {
    color: var(--text-color);
    font-size: 14px;
    text-align: center;
}

.products__message {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 28px;
    margin: 0 64px 30px;
    background-color: var(--white-color)
}

.products__message-content {
    text-transform: uppercase;
    color: var(--text-color);
    align-self: center;
    margin-left: 12px;
}


.products__message-input {
    width: 300px;
    height: 34px;
    background-color: var(--background-color);
    color: var(--text-input);
    border: none;
    outline: none;
    padding: 0 12px;
    
}

.products__message-btn {
    height: 34px;
    padding: 0 8px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    text-transform: uppercase;
    margin-right: 12px;
}

.footer__info {    
    height:250px;
    justify-content: space-around;
}

.col-9.footer__content { 
    padding: 32px 0;
    color: var(--text-color);
    font-size: 13.5px;   
}

.footer__content > p:first-child {
    letter-spacing: 2px;
}

.footer__bottom {
    background-color: var(--black-color);
    justify-content: space-around;
    color: var(--text-color);
    align-items: center;
    height: 300px;
}

.col-3.footer__bottom-content {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
}

.footer__bottom-content > p {
    margin-top: 24px;
}

.footer__copyright {
    margin-left: 12px;
    padding: 10px 20px 0;
}

.footer__logo {
    width: 180px;
}


.footer__socials, .footer__pay {
    list-style-type: none;
    display: flex;
}

.footer__socials-item {
    padding: 10px;
}

.footer__pay > li > img {
    padding: 5px;
    width: 100%;
    height: 50px;
}

/* product Detail */
.products__main, .cart {
    justify-content: space-around;
    background-color: var(--background-color);
}

.products__header {
    color:var(--text-color);
    padding: 32px;
    margin-left: -30px;
}

.products__header-direct > span {
    margin: 0 10px;
}

.productsDetail {
    background-color: var(--white-color);
    display:flex;
    line-height: 1.5;
    text-align: justify;
}

.productsDetail__content > hr {
    margin-top: 28px;
    margin-left: 10px;
}

.product__img-large > img {
    width: 100%;
    height: 400px;
}

.product__img-small > img {
    width: 150px;
    height: 150px;
}

.productsDetail__content-top {
    padding: 10px;
}
.productsDetail__content-top > h2,
.productsDetail__content-top > p
 {
    margin-top: 32px;
}


.productsDetail__content-top > span {
    color: var(--text-color);
    font-size: 24px;
}

.productsDetail__content-center {
    padding: 10px;
}

.productsDetail__content-center > h4 {
    color: var(--text-color);
    text-transform: uppercase;
}

.productsDetail__content-center > p {
    font-weight: bold;
    margin-top: 28px;
}

.productsDetail__content-center > p > span {
    color: red;
}

#dateDelivery {
    width: 100%;
    height: 40px;
    border: 2px solid var(--text-color);
    border-radius: 3px;
}

.product__rating {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding:0;
    margin-top: 4px;
}

.product__rating > li>  .fa-star {
    padding: 4px;
}

.product__rating > li:last-child {
    margin-left: 24px;
}

.productsDetail__content-bot {
    padding: 10px;
}

.product__btn-like,
.product__btn-twitter,
.product__btn-share {
    width: 90px;
    color: var(--white-color);
    border-radius: 3px;
    border: none;
    font-size: 14px;
    height: 25px;
}
.product__btn-like {
    background-color: rgb(59, 100, 235);
}

.product__btn-twitter {
    background-color: rgb(54, 140, 238);
}

.product__btn-share {
    background-color: rgb(238, 97, 54);
}

.product__quantity {
    margin: 32px 0;
    font-weight: bold;
}

.product__quantity > .fa-caret-down,
.product__quantity > .fa-caret-up {
    margin: 0 16px;
}

.product__quantity >input {
    border: none;
    text-align: center;
    width: 80px;
    color:var(--text-color);
}

.product__btn-addToCart,
.product__btn-payNow,
.cart__btn-pay,
.cart__btn-shopping {
    color: var(--white-color);
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 1px;
    text-transform: capitalize;
}

.product__btn-addToCart {
    background-color: rgb(97, 197, 228);
}

.product__btn-payNow {
    margin-left: 5px;
    background-color: var(--black-color);
}

.product__favorite {
    margin-top: 24px;
    color: var(--text-color);
    text-align: center;
    font-weight: 400;
}

.products__bot {
    background-color: var(--white-color);
    margin-bottom: 32px;
}

.products__bot-btn {
    /* border-bottom: 1px solid var(--text-color); */
    margin: 24px 0;
}

.products__btn {
    border: none;
    color: var(--text-color);
    text-transform: uppercase;
    background-color: var(--white-color);
    width: 100px;
    height: 35px;
}

.products__btn-active {
    border-top: 2px solid var(--primary-color);
    border-left: 1px solid var(--background-color);
    border-right: 1px solid var(--background-color);
    border-bottom: none !important;
}

.products__bot-des  p {
    color: var(--text-color);
    margin-bottom: 70px;
}

.products__bot-tablePrice {
    border: 1px solid var(--text-input);
    padding: 10px 10px 20px;
    position: relative;
    color: var(--text-color);
    margin-bottom: 12px;
}
.products__bot-tablePrice span:first-child {
    position: absolute;
    left: 0;
}

.products__bot-tablePrice span:last-child {
    position: absolute;
    right: 60px;
}

.products__bot-rating  {
    margin-bottom: 32px;
}
.products__bot-rating .form__row {
    padding: 8px 0;
    display: flex;
    font-weight: 600;
}

.products__bot-rating .form__row span {
    color: red;
}
.products__bot-rating h5 {
    text-transform: uppercase;
    color: var(--text-color);
}

.rating__submit {
    color: var(--white-color);
    background-color: var(--primary-color);
    border: none;
    padding: 5px;
    width: 60px;
}
/* cart */

#cart__name {
    padding: 0;
}
#cart__name > h3 {
    padding: 0;
    margin-bottom: 32px;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 20px;
}

#cart__table {
    margin-bottom: 12px;
}

.cart__title {
    background-color: rgb(249, 249, 249);
    text-align: center;
    
}

.cart__title > th{
    padding: 20px;
}


.cart__content {
    background-color: var(--white-color);
}
.cart__content > td {
    text-align: center;
    color: var(--text-color);
}

.cart__content > td > img {
    width: 100px;
    height: 100px;
}

.cart__content > td > input {
    width: 100px;
    border: 1px solid var(--background-color);
    color: var(--text-color);
}

#cart__btn {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    padding: 32px 0;
}

.cart__btn-shopping {
    color: var(--text-color);
    text-transform: uppercase;
    border: 1px solid var(--text-color);
}

.cart__btn-pay {
    background-color: var(--primary-color);
    text-transform: uppercase;
}

#cart__total{
    background-color: var(--white-color);
    color: var(--text-color);
}

#cart__total > div {
    display: flex;
    justify-content: flex-end;
}

#cart__total > div >p {
    flex: 10;
    text-align: right;
}

#cart__total > div >span {
    flex: 4;
    text-align: right;
}

.cart__total-vat {
    margin-bottom: 24px;
}